code/*.pyc

manuscript/*.bbl
manuscript/*.log
manuscript/*.aux
manuscript/*.ps
manuscript/*.pdf
manuscript/*.dvi
manuscript/*.blg
manuscript/figure/*.pdf
manuscript/figure/*.png

data/*.RData
data/*.zip
data/*.png

data/edgelists/*
data/motif_*
data/perms_deg/*
data/roles/*


code/*.Rdata
code/*/*.Rdata
code/*.tsv
code/*/*.tsv